{% if _maria_cfg_client_all.raw | length > 0 %}
[client]
{%   for key, value in _maria_cfg_client_all.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}
{% if _maria_cfg_client_only.raw | length > 0 %}
[client-mariadb]
{%   for key, value in _maria_cfg_client_only.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}