{% if _maria_cfg_mariadb_client_server.raw | length > 0 %}
[client-server]
{%   for key, value in _maria_cfg_mariadb_client_server.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}
{% if _maria_cfg_mariadb_include_confd_enable.raw %}
{{ _maria_cfg_mariadb_include_confd_enable.role }}
{% endif %}
{% if _maria_cfg_mariadb_include_mariadb_confd_enable.raw %}
{{ _maria_cfg_mariadb_include_mariadb_confd_enable.role }}
{% endif %}
{% if _maria_cfg_encryption_enable.raw %}
[mariadb]
plugin_load_add = file_key_management
{%   if _maria_cfg_encryption_settings.raw | length > 0 %}
{%     for setting in _maria_cfg_encryption_settings.raw %}
{{ setting }}
{%     endfor %}
{%   endif %}
{% endif %}