{% if maria_mariadb_client is defined and maria_mariadb_client | length > 0 %}
[mariadb-client]
{% for key, value in maria_mariadb_client.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
{% if maria_mariadb_upgrade is defined and maria_mariadb_upgrade | length > 0 %}
[mariadb-upgrade]
{% for key, value in maria_mariadb_upgrade.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
{% if maria_mariadb_admin is defined and maria_mariadb_admin | length > 0 %}
[mariadb-admin]
{% for key, value in maria_mariadb_admin.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
{% if maria_mariadb_binlog is defined and maria_mariadb_binlog | length > 0 %}
[mariadb-binlog]
{% for key, value in maria_mariadb_binlog.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
{% if maria_mariadb_check is defined and maria_mariadb_check | length > 0 %}
[mariadb-check]
{% for key, value in maria_mariadb_check.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
{% if maria_mariadb_dump is defined and maria_mariadb_dump | length > 0 %}
[mariadb-dump]
{% for key, value in maria_mariadb_dump.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
{% if maria_mariadb_import is defined and maria_mariadb_import | length > 0 %}
[mariadb-import]
{% for key, value in maria_mariadb_import.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
{% if maria_mariadb_show is defined and maria_mariadb_show | length > 0 %}
[mariadb-show]
{% for key, value in maria_mariadb_show.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
{% if maria_mariadb_slap is defined and maria_mariadb_slap | length > 0 %}
[mariadb-slap]
{% for key, value in maria_mariadb_slap.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}