{% if _maria_cfg_mariadb_client.raw | length > 0 %}
[mariadb-client]
{%   for key, value in _maria_cfg_mariadb_client.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}
{% if _maria_cfg_mariadb_upgrade.raw | length > 0 %}
[mariadb-upgrade]
{%   for key, value in _maria_cfg_mariadb_upgrade.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}
{% if _maria_cfg_mariadb_admin.raw | length > 0 %}
[mariadb-admin]
{%   for key, value in _maria_cfg_mariadb_admin.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}
{% if _maria_cfg_mariadb_binlog.raw | length > 0 %}
[mariadb-binlog]
{%   for key, value in _maria_cfg_mariadb_binlog.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}
{% if _maria_cfg_mariadb_check.raw | length > 0 %}
[mariadb-check]
{%   for key, value in _maria_cfg_mariadb_check.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}
{% if _maria_cfg_mariadb_dump.raw | length > 0 %}
[mariadb-dump]
{%   for key, value in _maria_cfg_mariadb_dump.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}
{% if _maria_cfg_mariadb_import.raw | length > 0 %}
[mariadb-import]
{%   for key, value in _maria_cfg_mariadb_import.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}
{% if _maria_cfg_mariadb_show.raw | length > 0 %}
[mariadb-show]
{%   for key, value in _maria_cfg_mariadb_show.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}
{% if _maria_cfg_mariadb_slap.raw | length > 0 %}
[mariadb-slap]
{%   for key, value in _maria_cfg_mariadb_slap.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}