{% if _maria_cfg_server_server.raw | length > 0 %}
[server]
{%   for key, value in _maria_cfg_server_server.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}
{% if _maria_cfg_server_embedded.raw | length > 0 %}
[embedded]
{%   for key, value in _maria_cfg_server_embedded.raw.items() %}
{{ key }}={{ value }}
{%   endfor %}
{% endif %}
{% if _maria_cfg_server_mariadb.raw | length > 0 %}
{%   for server in _maria_cfg_server_mariadb.raw %}
{%     if server.version | lower == 'all' %}
[mariadbd]
{%     else %}
[mariadb-{{ server.version }}]
{%     endif %}
{%     for key, value in server.config.items() %}
{{ key }}={{ value }}
{%     endfor %}
{%   endfor %}
{% endif %}