[mariadb-client]
socket=/run/mysqld/mysqld.sock
[mariadb-upgrade]
socket=/run/mysqld/mysqld.sock
[mariadb-admin]
socket=/run/mysqld/mysqld.sock
[mariadb-binlog]
socket=/run/mysqld/mysqld.sock
[mariadb-check]
socket=/run/mysqld/mysqld.sock
[mariadb-dump]
socket=/run/mysqld/mysqld.sock
[mariadb-import]
socket=/run/mysqld/mysqld.sock
[mariadb-show]
socket=/run/mysqld/mysqld.sock
[mariadb-slap]
socket=/run/mysqld/mysqld.sock
